<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Event</title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1 class="blog-heading">Calendar</h1></a>
        <p>An Event Creation Site</p>
      </div>
      <ul>
        <li><a href="/createEvent">New Event</a></li>
        <li><a href="/createAllDayEvent">All Day</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/login"></a></li>
        <li><a href="/signup"></a></li>
      </ul>
    </nav>
    <div class="create-blog content">
      <form action="/events" method="POST">
        <label for="start">Start Time:</label>
        <select id="start" name="startTime" required>
          <option value="1" selected>9:00AM</option>
          <option value="2">9:30AM</option>
          <option value="3">10:00AM</option>
          <option value="4">10:30AM</option>
          <option value="5">11:00AM</option>
          <option value="6">11:30AM</option>
          <option value="7">12:00PM</option>
          <option value="8">12:30PM</option>
          <option value="9">1:00PM</option>
          <option value="10">1:30PM</option>
          <option value="11">2:00PM</option>
          <option value="12">2:30PM</option>
          <option value="13">3:00PM</option>
          <option value="14">3:30PM</option>
          <option value="15">4:00PM</option>
          <option value="16">4:30PM</option>
          <option value="17">5:00PM</option>
          <option value="18">5:30PM</option>
          <option value="19">6:00PM</option>
          <option value="20">6:30PM</option>
          <option value="21">7:00PM</option>
          <option value="22">7:30PM</option>
          <option value="23">8:00PM</option>
          <option value="24">8:30PM</option>
        </select>
        <label for="end">End Time:</label>
        <select id="end" name="endTime" required>
          <option value="2" selected>9:30AM</option>
          <option value="3">10:00AM</option>
          <option value="4">10:30AM</option>
          <option value="5">11:00AM</option>
          <option value="6">11:30AM</option>
          <option value="7">12:00PM</option>
          <option value="8">12:30PM</option>
          <option value="9">1:00PM</option>
          <option value="10">1:30PM</option>
          <option value="11">2:00PM</option>
          <option value="12">2:30PM</option>
          <option value="13">3:00PM</option>
          <option value="14">3:30PM</option>
          <option value="15">4:00PM</option>
          <option value="16">4:30PM</option>
          <option value="17">5:00PM</option>
          <option value="18">5:30PM</option>
          <option value="19">6:00PM</option>
          <option value="20">6:30PM</option>
          <option value="21">7:00PM</option>
          <option value="22">7:30PM</option>
          <option value="23">8:00PM</option>
          <option value="24">8:30PM</option>
        </select>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required />
        <button>Create</button>
      </form>
    </div>
  </body>
</html>
