<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Event</title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1 class="blog-heading">Calendar</h1></a>
        <p>An Event Creation Site</p>
      </div>
      <ul>
        <!-- <li><a href="/">Blogs</a></li>
          <li><a href="/about">About</a></li> -->

        <!-- <% if (user) { %> -->
        <li><a href="/createEvent">New Event</a></li>
        <li><a href="/createAllDayEvent">All Day</a></li>
        <li><a href="/events">Events</a></li>
        <!-- <li class="welcome">Welcome, <%= user.email.split("@")[0] %></li> -->
        <li><a href="/logout">Log out</a></li>
        <!-- <% } else { %> -->
        <li><a href="/login"></a></li>
        <li><a href="/signup"></a></li>
        <!-- <% } %> -->
      </ul>
    </nav>
    <div class="create-blog content">
      <form action="/createAllDay" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required />
        <button>Create</button>
      </form>
    </div>
  </body>

  <script>
    const form = document.querySelector("form");
    console.log("Form ", form);

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      // get values
      const name = form.name.value;
      const location = form.location.value;

      console.log(" Email & Password Login ==> ", name, location);

      try {
        const res = await fetch("/events/createAllDay", {
          method: "POST",
          body: JSON.stringify({ name, location }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
        if (data) {
          window.location.href = "/events";
        }
        //   if (data.errors) {
        //     emailError.textContent = data.errors.email;
        //     passwordError.textContent = data.errors.password;
        //   }
        //   if (data.user) {
        //     location.assign('/');
        //   }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
